*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
body{
    margin: 0 auto;
}
h1{
    padding:1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}
header{
    text-align:center;
    margin: 0 auto; 
}
.highlight{
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white
}
#container{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}
.section{
    background: black;
    border:1px solid black;
    margin: 0 1em 1em 1em;
    padding:1em 0 2em;
}
.nameLabel{
    font-weight:100;
    font-size:1.2em;
    letter-spacing: 1px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
.moeName{
    color:#fff;
    font-size:1.5em;
    color:#88e5c1;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.larryName{
    color:#fff;
    font-size:1.5em;
    color:#2cace2;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.curlyName{
    color:#fff;
    font-size:1.5em;
    color:#c90000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.emailLabel{
    font-weight:thin;
    padding-top:0.5em;
    letter-spacing: 3px;
    font-size:1.1em;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
}
.email{
    color:#fff;
    font-size:1.1em;
    text-align: center;
    margin-bottom:1em;
}
.moe{
    width:150px;
    height:150px;
    border-radius:5rem;
    margin:0 auto;
    background-position-y:-1.5em;
    background-image:url('https://learndotresources.s3.amazonaws.com/workshop/5d82f73445ae900004652db3/three_stooges.jpg')
}
.larry{
    width:150px;
    height:150px;
    border-radius:5rem;
    margin:0 auto;
    background-position-y:-2em;
    background-position-x: 11.5em;
    background-image:url('https://learndotresources.s3.amazonaws.com/workshop/5d82f73445ae900004652db3/three_stooges.jpg')
}
.curly{
    width:150px;
    height:150px;
    border-radius:5rem;
    margin:0 auto;
    background-position-y:-5em;
    background-position-x: -7em;
    background-image:url('https://learndotresources.s3.amazonaws.com/workshop/5d82f73445ae900004652db3/three_stooges.jpg')
}